<!-- Hero Seciton -->
<section class="hero-section">
    <app-hero-section imageUrl="backgrounds/vets-hero/background-hero.png" title="We care about your Pets"/>
    <div class="cards flex justify-center gap-5">
        <app-global-card  [isActive]="isCardActive(item.rout)" [routerLink]="item.rout" *ngFor="let item of vets_cards_data" [imageUrl]="item.image" [title]="item.title" [linkStyled2]="true"/>
    </div>
</section>

<!-- Router outlet -->
<router-outlet (activate)="onOutletActivated()" (deactivate)="onOutletDeactivated()" />

<!-- Planning to Adopt -->
<section class="container mx-auto mt-20">
    <app-page-title [title]="'Providing our best veterinary Services'"/>
    <app-card-list [cards]="providing_data" [defaultButtonText]="'Learn more'"/>
</section>