<header class="flex justify-center items-center shadow-md">
    <nav class="container m-auto flex justify-between p-4">
        <!-- left -->
        <div class="nav-left nav">
            <!-- logo -->
            <div class="logo">
                <img src="logos/logo.png" alt="logo">
            </div>
            <!-- page links -->
            <div class="page-links hidden md:block">
                <ul class="flex items-center gap-x-6">
                    <li class="transition duration-300">Home</li>
                    <li class="transition duration-300">Services</li>
                    <li class="transition duration-300">Vets</li>
                    <li class="transition duration-300">Doctors</li>
                    <li class="transition duration-300">Shop</li>
                </ul>
            </div>
        </div>

        <!-- right -->
        <div class="nav-right nav">
            <!-- Hamburger Menu (visible on small screens) -->
            <div class="md:hidden cursor-pointer" (click)="toggleMenu()">
                <i class="fa-solid text-seconed-color fa-bars text-3xl"></i>
            </div>

            <!-- user login -->
            <div *ngIf="isLoggedIn; else notLoggedIn" class="hidden md:flex gap-6">
                <i class="header-icon fa-solid fa-heart transition duration-300"></i>
                <i class="header-icon fa-solid fa-cart-shopping transition duration-300"></i>
                <i class="header-icon fa-solid fa-user transition duration-300"></i>
            </div>
            <!-- user not login -->
            <ng-template #notLoggedIn>
                <ul class="hidden md:flex items-center gap-x-2">
                    <li class="signup transition duration-300">Sign Up</li>
                    <li class="login transition duration-300">Login</li>
                </ul>
            </ng-template>
        </div>
    </nav>

    <!-- Overlay and Mobile Menu -->
    <div *ngIf="isMenuOpen" class="fixed inset-0 bg-black bg-opacity-80" (click)="toggleMenu()"></div>
    <div @slideAnimation *ngIf="isMenuOpen" class="mobile-menu fixed top-0 right-0 w-1/2 h-full bg-brand-color text-white shadow-lg z-50">
        <div class="p-7">
            <!-- Links -->
            <div class="mobile-links">
                <ul class="mb-10">
                    <li class="transition duration-300">Home</li>
                    <li class="transition duration-300">Services</li>
                    <li class="transition duration-300">Vets</li>
                    <li class="transition duration-300">Doctors</li>
                    <li class="transition duration-300">Shop</li>
                </ul>
            </div>
            <!-- is login or no -->
            <div class="flex justify-center">
                <!-- user login -->
                <div *ngIf="isLoggedIn; else notLoggedIn" class="flex gap-3">
                    <i class="header-icon fa-solid fa-heart transition duration-300"></i>
                    <i class="header-icon fa-solid fa-cart-shopping transition duration-300"></i>
                    <i class="header-icon fa-solid fa-user transition duration-300"></i>
                </div>
                <!-- user not login -->
                <ng-template #notLoggedIn>
                    <div class="mobile-user">
                        <ul>
                            <li class="signup">Login</li>
                            <li class="text-center"><p>or</p></li>
                            <li class="signin">Sign Up</li>
                        </ul>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</header>