
    <!-- Pets for Adoption -->
    <section class="container mx-auto mb-10">
        <app-page-title [title]="('Pages.Adoption.Dogs.Dogs_For_Adoption.Title' | translate)"/>
        <app-adoption-section [isStore]="false" type="getdogs" [moreText]="('Pages.Adoption.Dogs.Dogs_For_Adoption.More.Title' | translate)" [moreSubtext]="('Pages.Adoption.Dogs.Dogs_For_Adoption.More.Subtitle' | translate)"/>
    </section>
    <br>
    <br>
    <section class="container mx-auto mb-10">
        <app-page-title [title]="('Pages.Adoption.Dogs.Top_Collection_Of_Dogs.Title' | translate)"/>
        <app-adoption-section [isStore]="false" type="get-top-collection-dog" [moreText]="('Pages.Adoption.Dogs.Top_Collection_Of_Dogs.More.Title' | translate)" [moreSubtext]="('Pages.Adoption.Dogs.Top_Collection_Of_Dogs.More.Subtitle' | translate)"/>
    </section>
    <br>
    <br>
    
    <section class="container mx-auto mb-10">
        <app-page-title [title]="('Pages.Adoption.Dogs.Best_Dogs_for_kids.Title' | translate)"/>
        <app-adoption-section [isStore]="false" type="filterdogsforkids" [moreText]="('Pages.Adoption.Dogs.Best_Dogs_for_kids.More.Title' | translate)" [moreSubtext]="('Pages.Adoption.Dogs.Best_Dogs_for_kids.More.Subtitle' | translate)"/>
    </section>
    <br>
    <br>
