<main class="main-content">
  <!-- Header -->
  <app-header />

  <!-- Content -->
  <div class="content">
    <router-outlet />
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi voluptates optio impedit enim in tenetur, consequatur sed soluta. Reiciendis consectetur quos quas minus id eveniet perferendis, soluta animi sit magnam!</h1>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi voluptates optio impedit enim in tenetur, consequatur sed soluta. Reiciendis consectetur quos quas minus id eveniet perferendis, soluta animi sit magnam!</h1>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi voluptates optio impedit enim in tenetur, consequatur sed soluta. Reiciendis consectetur quos quas minus id eveniet perferendis, soluta animi sit magnam!</h1>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi voluptates optio impedit enim in tenetur, consequatur sed soluta. Reiciendis consectetur quos quas minus id eveniet perferendis, soluta animi sit magnam!</h1>
  </div>

  <!-- Footer -->
  <app-footer />
</main>
