
    <!-- Pets for Adoption -->
    <section class="container mx-auto mb-10">
        <app-page-title [title]="('Pages.Adoption.Cats.Cats_For_Adoption.Title' | translate)"/>
        <app-adoption-section [isStore]="false" type="getcats" [moreText]="('Pages.Adoption.Cats.Cats_For_Adoption.More.Title' | translate)" [moreSubtext]="('Pages.Adoption.Cats.Cats_For_Adoption.More.Subtitle' | translate)"/>
    </section>
    <br>
    <br>
    <section class="container mx-auto mb-10">
        <app-page-title [title]="('Pages.Adoption.Cats.Top_Collection_Of_Cats.Title' | translate)"/>
        <app-adoption-section [isStore]="false" type="get-top-collection-cat" [moreText]="('Pages.Adoption.Cats.Top_Collection_Of_Cats.More.Title' | translate)" [moreSubtext]="('Pages.Adoption.Cats.Top_Collection_Of_Cats.More.Subtitle' | translate)"/>
    </section>
    <br>
    <br>
    
    <section class="container mx-auto mb-10">
        <app-page-title [title]="('Pages.Adoption.Cats.Best_Cats_for_kids.Title' | translate)"/>
        <app-adoption-section [isStore]="false" type="filtercatsforkids" [moreText]="('Pages.Adoption.Cats.Best_Cats_for_kids.More.Title' | translate)" [moreSubtext]="('Pages.Adoption.Cats.Best_Cats_for_kids.More.Subtitle' | translate)"/>
    </section>
    <br>
    <br>
