<footer>
    <div class="container foot">
        
        <!-- Contact -->
        <div class="contact-footer">
            <h3>{{'Footer.Contacts.Title' | translate}}</h3>
            <div class="contact-info">
                <span><i class="fa-solid fa-phone"></i> 01021872093</span>
                <span class="email"><i class="fa-solid fa-envelope"></i> ahmedmahmuuud&#64;gmail.com</span>
                <span><i class="fa-solid fa-location-dot"></i> {{'Footer.Contacts.Address' | translate}}</span>
            </div>
        </div>
        
        <!-- Social -->
        <div class="social-footer">
            <h3>{{'Footer.Social.Title' | translate}}</h3>
            <div class="email-container">
                <input type="text" [placeholder]="('Footer.Social.Placeholder' | translate)" />
                <button>{{'Footer.Social.Btn' | translate}}</button>
            </div>
            <div class="social-icons">
                <i class="social fa-brands fa-facebook"></i>
                <i class="social fa-brands fa-github"></i>
                <i class="social fa-brands fa-instagram"></i>
                <i class="social fa-brands fa-linkedin"></i>
            </div>
        </div>

        <!-- Links -->
        <div class="links-footer">
            <h3>{{'Footer.Links.Title' | translate}}</h3>
            <div class="links">
                <span>{{'Footer.Links.Home' | translate}}</span>
                <span>{{'Footer.Links.Services' | translate}}</span>
                <span>{{'Footer.Links.Vets' | translate}}</span>
                <span>{{'Footer.Links.Doctors' | translate}}</span>
                <span>{{'Footer.Links.Shop' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="w-full">
        <hr>
        <p class="copy-right">{{'Footer.Copyright.Text' | translate}} <a target="_blank" href="https://www.linkedin.com/in/ahmed-mahmuud">{{'Footer.Copyright.Link' | translate}}</a></p>
    </div>
</footer>