<app-skeleton-services-card *ngIf="isLoading$ | async"/>
<div (click)="goToArticle(blogPost.link)" *ngFor="let blogPost of blogs$ | async" class="relative max-w-sm w-96 m-4 overflow-hidden rounded-lg shadow-md cursor-pointer transition-transform duration-200 hover:shadow-lg">
  <div class="relative h-72">
    <img [src]="blogPost.plogImage" [alt]="blogPost.description" class="h-full w-full object-cover transition-transform duration-300 hover:scale-105">
    <div class="flex justify-center items-center bg-black/5 absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/100 to-transparent p-5">
      <h2 class="text-lg text-white font-normal leading-tight">{{blogPost.description}}</h2>
    </div>
  </div>
</div>
