<div class="home-page min-h-screen">
    <!-- Hero Section -->
    <div class="hero-section relative">
      <app-hero-section imageUrl="backgrounds/home-hero/hero-background.png" [title]="('Pages.Home.Hero.Title' | translate)" [description]="('Pages.Home.Hero.Subtitle' | translate)"/>

      <!-- Services Cards Section -->
      <section class="services-section">
          <app-global-card *ngFor="let service of services" [imageUrl]="service.image" [title]="service.title | translate" class="service-card"/>
          <app-global-card routerLink="/services" imageUrl="logos/pets.png" [title]="('Pages.Home.Services.Card_Five' | translate)" [linkStyled1]="true" class="service-card"/>
      </section>
    </div>
      

    <!-- Features Section -->
    <section class="features-section py-16 md:py-24 bg-third-color">
      <div class="px-4">
        <div class="text-center max-w-3xl mx-auto mb-16">
          <app-page-title [title]="('Pages.Home.Static_Section.Title' | translate)"/>
          <p class="text-fourth-color text-lg md:text-xl leading-relaxed">
            {{'Pages.Home.Static_Section.Subtitle' | translate}}
          </p>
        </div>    

        <div class="features-container max-w-7xl mx-auto">
          <!-- Feature Card 1 -->
          <div class="feature-card">
            <div class="icon-container">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <h3 class="feature-title">
              {{'Pages.Home.Static_Section.Cards.Card_One' | translate}}
            </h3>
          </div>

          <!-- Feature Card 2 -->
          <div class="feature-card">
            <div class="icon-container">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <h3 class="feature-title">
              {{'Pages.Home.Static_Section.Cards.Card_Two' | translate}}
            </h3>
          </div>

          <!-- Feature Card 3 -->
          <div class="feature-card">
            <div class="icon-container">
              <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3 class="feature-title">
              {{'Pages.Home.Static_Section.Cards.Card_Three' | translate}}
            </h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Blogs Section -->
    <section class="mt-20">
      <div class="container mx-auto px-4">
        <app-page-title [title]="('Pages.Blogs.Title' | translate)" [description]="('Pages.Blogs.Description' | translate)"class="mb-12"/>
        <app-slider [items]="[2, 3, 4, 5, 6]">
          <ng-template #itemTemplate let-pet>
              <app-all-blogs class="flex"/>
          </ng-template>
          
          <app-global-button slider-footer [routerLink]="'/blogs'" [text]="'Global.View_Btn'" buttonStyle="dark-bg"/>
        </app-slider>
      </div>
    </section>
  </div>