<div class="home-page">

    <!-- Hero Section -->
    <section class="relative w-full h-screen">
        <div class="absolute inset-0">
            <img src="backgrounds/home-hero/hero-background.png" alt="Hero Image" class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        </div>
    
        <div class="relative flex flex-col items-center justify-center h-full text-center text-white px-4">
            <h1 class="text-4xl sm:text-5xl md:text-5xl font-bold mb-4">
                {{ 'Pages.Home.Hero.Title' | translate }}
            </h1>
            <p class="text-lg sm:text-xl md:text-2xl">
                {{ 'Pages.Home.Hero.Subtitle' | translate }}            
            </p>
        </div>
    </section>

</div>
