<div class="home-page relative">
    <!-- Hero Section -->
    <section class="relative w-full h-screen hero-section">
        <div class="absolute inset-0">
            <img src="backgrounds/home-hero/hero-background.png" alt="Hero Image" class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        </div>
        <div class="relative flex flex-col items-center justify-center h-full text-center text-white px-4">
            <h1 class="text-4xl sm:text-5xl md:text-5xl font-bold mb-4">
                {{ 'Pages.Home.Hero.Title' | translate }}
            </h1>
            <p class="text-lg sm:text-xl md:text-2xl">
                {{ 'Pages.Home.Hero.Subtitle' | translate }}            
            </p>
        </div>
        
        <!-- Services Cards Section -->
        <div class="services-cards-home">
            <div class="service-card" *ngFor="let service of services">
                <img [src]="service.image" [alt]="service.title">
                <h1>{{ service.title | translate }}</h1>
            </div>
            <div routerLink="/services" class="service-card">
                <img src="logos/pets.png" alt="more">
                <h1>{{'Pages.Home.Services.Card_Five' | translate}}</h1>
            </div>
        </div>
    </section>


    <!-- Static Section -->
    <section class="about-section mt-32 bg-third-color p-10 flex flex-col justify-center items-center text-center">
        <div class="up-content flex flex-col gap-y-3">
            <h2 class="text-3xl font-bold text-brand-color">{{'Pages.Home.Static_Section.Title' | translate}}</h2>
            <p class="mb-8 text-fourth-color">{{'Pages.Home.Static_Section.Subtitle' | translate}}</p>
        </div>    

        <div class="down-content">
            <div class="up">
                <div class="single">
                    <span class="icons"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <h3>
                        {{'Pages.Home.Static_Section.Cards.Card_One' | translate}}
                    </h3>
                </div>
                <div class="single">
                    <span class="icons"><i class="fa-solid fa-calendar-days"></i></span>
                    <h3>
                        {{'Pages.Home.Static_Section.Cards.Card_Two' | translate}}
                    </h3>
                </div>
                <div class="single">
                    <span class="icons"><i class="fa-solid fa-credit-card"></i></span>
                    <h3>
                        {{'Pages.Home.Static_Section.Cards.Card_Three' | translate}}
                    </h3>
                </div>
            </div>
        </div>
    </section>


</div>
